.container {
	display: flex;
	flex-direction: row;
	margin-top: 5rem;
}

.flexRow {
	align-items: center;
	margin-top: 15px;
	gap: 60px;
	display: flex;
	flex-direction: row;
}

.flexCol {
	display: flex;
	flex-direction: column;
}
