.dayFilterContainer {
	display: flex;
	flex-direction: column;
	position: relative;
}

.dayFilterTextContainer {
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.dayFilterText {
	font-size: 22px;
	font-weight: bold;
}

.dayFilterIcon {
	background-image: url(../../../public/icons/angle-right-solid.svg);
	height: 18px;
	width: 18px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 15px;
	margin-top: 2px;
}

.daySelectorContainer {
	z-index: 1;
	position: absolute;
	top: 30px;
	margin-top: 5px;
	background-color: var(--dark-grey);
	height: fit-content;
	width: 11rem;
	border-radius: 1rem;
	padding: 10px;
}

.daySelector {
	z-index: 1;
	display: block;
	position: relative;
	border-radius: 8px;
	font-size: 20px;
	padding: 5px;
	font-weight: bold;
	color: var(--light);
	cursor: pointer;
}

.daySelectorBackground {
	position: absolute;
	background-color: var(--purple);
	height: 2rem;
	width: 11rem;
	border-radius: 8px;
}

.daySelector > * {
	padding-left: 5px;
}
