.container {
	display: flex;
	flex-direction: row;
	margin-top: 5rem;
}

.flexRow {
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	/* margin-top: 15px; */
	gap: 60px;
	display: flex;
	flex-direction: row;
}

.flexCol {
	margin-right: 10rem;
	margin-left: 10rem;
	width: 90vw;
	display: flex;
	flex-direction: column;
}

@media (max-width: 700px) {
	.container {
		flex-direction: column;
		position: relative;
	}

	.flexCol {
		margin-left: 2rem;
	}
}
