.container {
	position: relative;
	margin-left: 10rem;
	margin-right: 10rem;
	background-color: white;
	width: 90vw;
	height: fit-content;
	padding-bottom: 2rem;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.datePickerContainer {
	cursor: pointer;
	background-color: var(--purple);
	padding: 0.35rem;
	border-radius: 0.75rem;
	font-weight: bold;
	display: flex;
	gap: 10px;
	align-items: center;
}

.datePicker {
	font-weight: bold;
	font-size: 16px;
	background-color: var(--purple);
	color: white;
	border: none;
	width: 5rem;
}

.editIcon {
	background-image: url(../../../../public/icons/my-workouts-icons/edit-yellow.svg);
	width: 20px;
	height: 20px;
	background-size: contain;
}

.title {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 22px;
	font-weight: bold;
	color: var(--dark-grey);
}

.exercises {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 2rem;
}

.exercise {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
}

.addSerie {
	padding: 2px 10px;
	width: 2rem;
	border-radius: 5px;
	min-width: fit-content;
	cursor: pointer;
	border: dashed #0000003b 1px;
	height: 2rem;
	place-items: center;
	display: grid;
}

.addExercise {
	min-width: 10rem;
	cursor: pointer;
	width: 100%;
	border: dashed #0000003b 1px;
	height: 2rem;
	border-radius: 6px;
	justify-content: center;
}

.addIcon {
	font-size: 30px;
	font-weight: bold;
	color: var(--dark-grey);
}

.repetition {
	width: 2rem;
}

.nameEdit {
	width: 8rem;
}

.inputForm {
	font-size: 22px;
	font-weight: bold;
	color: var(--dark-grey);
	border: solid #0000003b 1px;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

.name {
	font-size: 22px;
	font-weight: bold;
	color: var(--dark-grey);
}

.dragIcon {
	cursor: pointer;
	background-image: url(../../../../public/icons/my-workouts-icons/drag-indicator.svg);
	width: 1.5rem;
	height: 1.5rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}

.bottom::before {
	flex-grow: 1;
	height: max-content;
	content: " ";
}

.addButton {
	cursor: pointer;
	background-color: var(--yellow);
	padding: 10px 50px 10px 50px;
	display: grid;
	place-items: center;
	width: 50%;
	border-radius: 100px;
	font-size: 20px;
	color: var(--dark-grey);
	font-weight: bold;
}

.addAndSaveContainer {
	display: flex;
	flex-direction: row;
	background-color: rebeccapurple;
}

.save {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	font-size: 22px;
	font-weight: bold;
	color: var(--dark-grey);
	position: absolute;
	bottom: 2.2rem;
	left: 2rem;
}

.saveButton {
	cursor: pointer;
	border: solid #0000003b 1px;
	width: 2rem;
	height: 2rem;
	border-radius: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 300ms;
}

.checked {
	background-image: url(../../../../public/icons/my-workouts-icons/check.svg);
}

.removeButton {
	cursor: pointer;
	background-image: url(../../../../public/icons/my-workouts-icons/trash.svg);
	width: 1.5rem;
	height: 1.5rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.relativeContainer {
	position: relative;
}

.closeButton {
	position: absolute;
	top: -5px;
	left: -5px;
	background-image: url(../../../../public/icons/circle-minus-solid.svg);
	width: 15px;
	height: 15px;
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (max-width: 850px) {
	.addAndSaveContainer {
		flex-direction: column;
	}
	.save {
		position: relative;
		bottom: 0;
		left: 0;
	}
}
