.container {
	position: absolute;
	width: fit-content;
	height: fit-content;
	padding: 3rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2rem;
	background-color: white;
	border: 3px solid var(--dark-grey);
}

.innerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
}

.folder {
	cursor: pointer;
	width: fit-content;
	padding: 1rem;
	display: grid;
	place-items: center;
	border-radius: 15px;
}

.title {
	font-size: 25px;
	font-weight: bold;
	color: var(--dark-grey);
	text-align: center;
}

.folder .title {
	color: white;
}

.innerContainer :nth-child(odd):not(.title) {
	background-color: var(--purple);
}

.innerContainer :nth-child(even):not(.title) {
	background-color: var(--red);
}
