.sidebar {
	margin-top: 7rem;
	height: 100vh;
	min-width: 100px;
	max-width: 12vw;
	background-color: var(--purple);
}

.topHalfSidebar {
	width: 14vw;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 0 2rem 2rem 0;
	min-width: 200px;
	height: fit-content;
	background-color: var(--purple);
	align-items: center;
}

.profileIcon {
	border-radius: 100%;
	background-color: var(--dark-grey);
	width: 60px;
	height: 60px;
	margin-bottom: 2rem;
}

.welcomeMessage {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: var(--light);
}

.navContainer {
	min-width: 200px;
	width: 14vw;
}

.bottomHalfSidebar {
	width: 14vw;
	min-width: 200px;
	height: 100vh;
	background-color: var(--purple);
}
