:root {
	--purple: #5161ce;
	--light: #f0f6fb;
	--yellow: #fcd656;
	--dark-grey: #36382e;
}

body {
	background-color: var(--light);
	overflow: hidden;
}

.sidebar {
	margin-top: 7rem;
	height: 100vh;
	min-width: 100px;
	max-width: 12vw;
	background-color: var(--purple);
}

.top-half-sidebar {
	width: 14vw;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 0 2rem 2rem 0;
	min-width: 200px;
	height: fit-content;
	background-color: var(--purple);
	align-items: center;
}

.profile-icon {
	border-radius: 100%;
	background-color: var(--dark-grey);
	width: 60px;
	height: 60px;
	margin-bottom: 2rem;
}

.welcome-message {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: var(--light);
}

.nav-container {
	min-width: 200px;
	width: 14vw;
}

.bottom-half-sidebar {
	width: 14vw;
	min-width: 200px;
	height: 100vh;
	background-color: var(--purple);
}
