:root {
	--purple: #5161ce;
	--light: #f0f6fb;
	--yellow: #fcd656;
	--dark-grey: #36382e;
}

@font-face {
	font-family: "Tw Cen MT";
	src: url("../public/fonts/TCM.TTF");
}

body {
	margin: 0;
	font-family: "Tw Cen MT";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--light);
	/* overflow: hidden; */
	user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
