.container {
	background-color: var(--purple);
	display: flex;
	flex-direction: row;
	padding: 1rem 0 0 2rem;
	height: fit-content;
}

.container__selected {
	display: flex;
	flex-direction: row;
	height: fit-content;
	padding: 0.5rem 0 0.5rem 1rem;
	margin-left: 1rem;
	background-color: var(--light);
	border-radius: 12rem;
}

.icon {
	background-image: url(../public/icons/home.svg);
	width: 20px;
	height: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.element {
	padding-left: 10px;
	font-size: 22px;
	font-weight: bold;
	color: var(--light);
}

.element__selected {
	padding-left: 10px;
	font-size: 22px;
	font-weight: bold;
	color: var(--dark-grey);
}

.first {
	border-radius: 0 2rem 0 0;
}

.dark {
	background-image: url(../public/icons/home-dark.svg);
}
